.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
  padding: 15px;
  height: 100vh;
  width: 100vw;
  border: solid black;
  display:grid;
  grid-template-columns: repeat(1fr,4);
  grid-template-rows: repeat(1fr,4);
}
.firstItems{
  display: grid;
grid-column: 1/3;
grid-row: 1/2;
}

.secondItems{
  display: grid;
grid-column: 1/3;
grid-row: 2/3;
}

.thirdItems{
  display: grid;
grid-column: 1/3;
grid-row: 3/4;
}

.checkOut{
display: grid;
grid-column: 3/4;
grid-row: 1/2;
}
.btn{
  width: 155px;
  height: 45px;
  border-radius: 35px;
}


